.container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.container form {
    width: 100%;
}

.search_field {
    display: flex;
    width: 100%;
    background-color: #E9E9E9;
    height: 3rem;
    border-radius: 0.6rem;
}

.search_icon {
    padding: 0.5rem;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
}

.search_field input {
    width: 95%;
    background-color: #E9E9E9;
    border-color: transparent;
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
    font-size: 1.05rem;
 
}

.search_field input:focus {
    outline: none;
}