.med_item_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
}

.med_time_dosage {
    margin: 0.5rem 0;
}

.input_container {
    display: flex;
    justify-content: center;
}

.time_item {
    margin: 0 0.5rem;
    text-align: center;
}

.time_item input {
      height: 3rem;
      width: 5rem;
      border-color: transparent;
      border-radius: 0.6rem;
      background-color: white;
      color: black;
      font-size: 1.2rem;
}


.time_item input:focus {
    outline-color: #066DFE;
}


.dot{
 padding-top: 2rem;
}